dl.faq {

  dt.collapsed + dd {
    opacity: 0;
  }

  dt {
    display: inline;
    font-weight: 600;
    cursor: pointer;
  }

  dt::before {
    @extend .icon;
    @extend .icon.circle-arrow-down;
    @extend .icon.inline;
    display: inline-block;
    content: "";
    margin-right: var(--unit);
    transition: transform 200ms ease-out;
  }
  dt.collapsed::before {
    transform: rotate(-90deg);
  }

  dd {
    overflow: hidden;
    transition: all 200ms ease-out;
    margin-top: calc(var(--spacer) / 2);

    &:not(:last-of-type) {
      margin-bottom: var(--spacer);
    }
  }

}
