.vecora#footer {
	padding-top: 2em;
	position: relative;
  overflow: hidden;

	&::after {
		content: " ";
    position: absolute;
    width: 1000px;
    height: 200px;
    top: -200px;
    margin-left: -500px;
    left: 50%;
    box-shadow: 0 0 200px $footer-bg;
	}
}

.social-media-icons {
	margin-bottom: 30px;
	.icon { margin-right: 10px;}
}

.vecora#footer #legal {
	background-color: $footer-bg-legal;
	text-align: center;
	padding: 1em 0;
	margin-top: 2em;
}


.compact-footer {
	margin-top: 10 * $unit;
	.compact-footer__links {
		margin-bottom: 3 * $unit;
	}
	#legal {
		padding-top: 2 * $unit;
		padding-bottom: 2 * $unit;
		text-align: center;
		background-color: $sg-text-color;
		color: white;
	}
}

.--on-color .compact-footer #legal {
	background-color: transparent;
	-webkit-backdrop-filter: brightness(60%) saturate(120%);
	backdrop-filter: brightness(60%) saturate(120%);
}
