footer#footer {
	padding-top: 2em;
	margin-top: 4em;
	position: relative;
  overflow: hidden;

	&::after {
		content: " ";
    position: absolute;
    width: 1000px;
    /* margin: -200px auto 0 auto; */
    height: 200px;
    /* background-color: yellow; */
    top: -200px;
    margin-left: -500px;
    left: 50%;
    box-shadow: 0 0 200px $footer-bg;
	}
}

footer#footer #legal {
	background-color: $footer-bg-legal;
	text-align: center;
	padding: 1em 0;
	margin-top: 2em;
}
