.vecora#header {
  z-index: 1000;
  background-color: white;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

header#header, header#blog-header {


}

header#blog-header {

}
