// basic styles are already set in _reboot.scss

.lead {
  // @include font(20px, 2, map-get($fonts, gilroy));
  font-size: calc-font-size(2.5, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 2.5, map-get($fonts, gilroy));
}
small, .small, .small p {
  // @include font(12px, 2, map-get($fonts, gilroy));
  font-size: calc-font-size(1.5, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 1.5, map-get($fonts, gilroy));
}

.mute {
  color: var(--mute-color);
}



.justify {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto; // shouldn't really support non chromium edge
  hyphens: auto;
}

// TODO: Responsive text font-size
// TODO: cap height and 8 point grid

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

p, ul, ol {
  &.no-margin {
    // remove bottom margins
  }
}

em {
  font-weight: 900;
}

q:lang(no),
q:lang(nb),
q:lang(nn),
q:lang(nb-NO),
q:lang(nn-NO) {
  quotes: "«" "»"; // no double quotes

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}









@mixin capitalized() {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.09em;
}


@import 'type/code';
@import 'type/headings';
@import 'type/links';
@import 'type/lists';
@import 'type/selection';
