// basic styles are already set in _reboot.scss

.lead {
  // @include font(20px, 2, map-get($fonts, gilroy));
  font-size: calc-font-size(2.5, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 2.5, map-get($fonts, gilroy));
}
small, .small, .small p {
  // @include font(12px, 2, map-get($fonts, gilroy));
  font-size: calc-font-size(1.5, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 1.5, map-get($fonts, gilroy));
}

pre, code {
  font-family: Hack, monospace;
  font-size: calc-font-size(1.5, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 1.5, map-get($fonts, gilroy));
}

.justify {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto; // shouldn't really support non chromium edge
  hyphens: auto;
}

// TODO: Responsive text font-size
// TODO: cap height and 8 point grid

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

p, ul, ol {
  &.no-margin {
    // remove bottom margins
  }
}

em {
  font-weight: 900;
}

q:lang(no),
q:lang(nb),
q:lang(nn),
q:lang(nb-NO),
q:lang(nn-NO) {
  quotes: "«" "»"; // no double quotes

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
}


.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.display-1, .display-2 {
  text-align: center;
}
.display-1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc-font-size(6, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 6, map-get($fonts, gilroy));
}
.display-2 {
  font-weight: 700;
  font-size: calc-font-size(4, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 4, map-get($fonts, gilroy));
}





ol.roman {
  list-style-type: upper-roman;
}




@mixin capitalized() {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.09em;
}



@import 'type/links';
@import 'type/lists';
