// $line-height is a numeral where 1 = $cap-height
@mixin font($cap-height, $line-height, $font) {

  $font-family: map-get($font, name);

  $computed-font-size: computed-font-size($cap-height, $font);
  font-size: $computed-font-size;

  $distance-top: map-get($font, ascender) - map-get($font, cap-height);
  margin-top: -($distance-top * $computed-font-size);

  line-height: $cap-height * $line-height;

}
