---
---

body {
  position: relative;
}


// WARNING: These header margins will unintentionally also affect examples
h2 {
  margin-top: 100px !important;
}

h3, h4 { margin-top: 50px !important; }



.document-nav {

  font-size: 80%;
  font-weight: 400;
  margin-top: -20px;
  padding-top: 20px;

  ul {
    list-style: none;
    margin-left: none;
    padding-left: 0;

    ul {
      margin-left: 20px;
    }
  }

  .list-bold {
    li {
      font-weight: bold;
      ul {
        margin-left: 0;
        li {
          font-weight: normal;
          ul {
            margin-left: 20px;
          }
        }
      }
    }
  }

}


.example {
  background-color: #2E3257;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 4px #131e3c2e;
}



.docs-gradients-container {
  display: flex;

  .docs-gradient-item {
    width: 25%;
  }

  .docs-gradient {
    height: 200px;
    margin: 0 20px;
    &.docs-gradient-1 { background: linear-gradient(#008CFF, #DE00FF, #FF0078); }
    &.docs-gradient-2 { background: linear-gradient(#FA4024, #FF0078); }
    &.docs-gradient-3 { background: linear-gradient(#008CFF, #1CFF00); }
    &.docs-gradient-4 { background: linear-gradient(#DE00FF, #008CFF, #00FFF2); }
    &.docs-gradient-5 { background: linear-gradient(#DE00FF, #FF0078); }
    &.docs-gradient-6 { background: linear-gradient(#940A40, #FA4024); }
    &.docs-gradient-7 { background: linear-gradient(#FF0078, #F5FF00); }
    &.docs-gradient-8 { background: linear-gradient(#171C59, #FF0078); }
  }

}
