---
---

body {
  position: relative;
}


// WARNING: These header margins will unintentionally also affect examples
h2 {
  margin-top: 100px;
}

h3, h4 { margin-top: 50px; }



.document-nav {

  font-size: 80%;
  font-weight: 400;
  margin-top: -20px;
  padding-top: 20px;

  ul {
    list-style: none;
    margin-left: none;
    padding-left: 0;

    ul {
      margin-left: 20px;
    }
  }

  .list-bold {
    li {
      font-weight: bold;
      ul {
        margin-left: 0;
        li {
          font-weight: normal;
          ul {
            margin-left: 20px;
          }
        }
      }
    }
  }

}


.example {
  background-color: #2E3257;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 4px #131e3c2e;
}
