---
---

body {
  position: relative;
}


// WARNING: These header margins will unintentionally also affect examples
h2 {
  margin-top: 100px !important;
}

h3, h4 { margin-top: 50px !important; }



.document-nav {

  font-size: 80%;
  font-weight: 400;
  margin-top: -20px;
  padding-top: 20px;

  ul {
    list-style: none;
    margin-left: none;
    padding-left: 0;

    ul {
      margin-left: 20px;
    }
  }

  .list-bold {
    li {
      font-weight: bold;
      ul {
        margin-left: 0;
        li {
          font-weight: normal;
          ul {
            margin-left: 20px;
          }
        }
      }
    }
  }

}


.example {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 4px;
  margin-bottom: 30px;

  .theme-dark & {
    background-color: #2E3257;
    box-shadow: 0 0 4px #131e3c2e;
  }
  .theme-corporate & {
    background-color: orange;
  }
}



body.docs-frontpage {
  background-image: linear-gradient(to left, #DE00FF, #FF0078);
}






.docs-gradients-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  .docs-gradient-item {
    width: calc(25% - 40px);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }

  .docs-gradient {
    height: 200px;
    &.docs-gradient-1 { background: linear-gradient(45deg, #008CFF, #DE00FF, #FF0078); }
    &.docs-gradient-2 { background: linear-gradient(45deg, #FA4024, #FF0078); }
    &.docs-gradient-3 { background: linear-gradient(45deg, #008CFF, #1CFF00); }
    &.docs-gradient-4 { background: linear-gradient(45deg, #DE00FF, #008CFF, #00FFF2); }
    &.docs-gradient-5 { background: linear-gradient(45deg, #DE00FF, #FF0078); }
    &.docs-gradient-6 { background: linear-gradient(45deg, #940A40, #FA4024); }
    &.docs-gradient-7 { background: linear-gradient(45deg, #FF0078, #F5FF00); }
    &.docs-gradient-8 { background: linear-gradient(45deg, #171C59, #FF0078); }
  }

}
