---
---

body {
  position: relative;
}

.document-nav {

  font-size: 80%;
  font-weight: 400;
  margin-top: -20px;
  padding-top: 20px;

  ul {
    list-style: none;
    margin-left: none;
    padding-left: 0;

    ul {
      margin-left: 20px;
    }
  }

  .list-bold {
    li {
      font-weight: bold;
      ul {
        margin-left: 0;
        li {
          font-weight: normal;
          ul {
            margin-left: 20px;
          }
        }
      }
    }
  }

}
