.logo:not([class*=logo--art]) {
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-color: var(--text-color);
    pointer-events: none;
    -webkit-mask-image: url(resources/logo/art/book.svg);
    mask-image: url(resources/logo/art/book.svg);
    $margin: -25%;
    top: $margin;
    right: $margin;
    bottom: $margin;
    left: $margin;
  }

  $sizes: (
    "nano": 3,
    "tiny": 4,
    "small": 6,
    "large": 12,
    "big": 16,
    "huge": 32,
    "massive": 64
  );

  // Generate sizes
  @each $name, $multiplier in $sizes {
    @at-root .logo--#{$name}::after:not([class*=logo--art]::after) {
      $margin: -25%;
      top: $margin;
      right: $margin;
      bottom: $margin;
      left: $margin;
    }
  }

}

.glossary-logo-footer {
  float:left;
  display: block;
  margin-right: calc(var(--spacer) / 2);
  text-indent: -9999px;
  background-color: var(--muted-color);
  -webkit-mask-image: url(resources/logo/glossary/logo-mark.svg);
  -webkit-mask-repeat: no-repeat;
}

.glossary-logo.full {

  display: block;

  height: 130px;
  width: 210px;

  background-color: var(--text-color);
  -webkit-mask-image: url(resources/logo/glossary/logo-full.svg);
  -webkit-mask-repeat: no-repeat;

}

.glossary-logo.full.large {
  height: 195px;
  width: 315px;
}

.glossary-logo.center {
  margin-left: auto;
  margin-right: auto;
}

h1.glossary-logo {
  text-indent: -9999px;
}

a.glossary-logo {
  text-indent: -9999px;
  // Cancel out link border
  border-bottom: none;
}
