@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans+Narrow&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "PT Sans";
  font-size: calc-font-size(2, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 2, map-get($fonts, gilroy));
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
}

.sans {
  font-family: "PT Sans";
}

.serif {
  font-family: "PT Serif";
}

.muted {
  color: var(--muted-color);
}
