button.link {
  // @extend &.undo;
  // TODO: Strip default button styles.
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-color-flipped);
    background-color: var(--link-color);
    margin: -2px;
    padding: 2px;
    border-radius: 2px;
  }

  // Helper class
  &.undo {
    color: currentColor;

    &:hover {
      color: inherit;
      background-color: inherit;
      margin: inherit;
      padding: inherit;
      border-radius: inherit;
    }
  }
}

a.incognito {
  color: var(--text-color);

  &:hover {
    color: var(--text-color-flipped);
    background-color: var(--text-color);
  }
}

.mute a:not(.unmute) {
  --text-color: var(--mute-color);
  @extend a.incognito;
}


a.underline, button.underline {
  color: var(--link-color);
  text-decoration: none;

  // font-weight: 500;

  background-image: linear-gradient(180deg, transparent 50%, var(--link-underline-color) 50%);
  background-size: 100% 200%;
  background-position-y: 23%; // TODO: Consider using absolute pixel sizes for various text sizes.
  padding: 2px 1px 1px 1px;
  margin: -2px -1px -1px -1px;
  transition: all 200ms ease;

  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;

    background-position-y: 100%;
    border-radius: 1px;
  }
}
