.--book {

  --accent-color: #ffcb5c;
  --text-color: #3b3b3b;
  --link-underline-color: var(--accent-color);
  --muted-text-color: #d2d2d2;

  // Set currentColor
  color: var(--text-color);

  // Theme specific overrides
  @import 'book/type';
  @import 'book/logo';

  body {
    background-image: radial-gradient(#fff, #f5f5f5);
    background-size: 100vw 100vh;
    background-attachment: fixed;
  }

  input[type=search] {
    border-radius: 50px;
    background-color: #fff;
    padding: calc(1 * var(--unit)) calc(3 * var(--unit));
    border-color: #e5e5e5;
    caret-color: var(--text-color);
    color: var(--text-color);

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance:none;
    }


    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px #ddd;
      border-color: #ddd;
      background-color: #fff;
    }
  }

}

@media (prefers-color-scheme: dark) {
  .--book {
    //--accent-color: #C8C8C8;
    //--background-color: #282829;
    --text-color: #C8C8C8;
    --inverted-text-color: #2a2a2a;

    // TODO: Make responsive.
    body {
      background-image: radial-gradient(#2a2a2a, #181818);
    }
  }
}


// TEMPORARY STYLES

@media (prefers-color-scheme: dark) {
  .--book {
    --muted-color: #3a3a3a;

    input[type=search] {
      background-color: #141414;
      border-color: #313131;

      &:focus {
        box-shadow: 0 0 0 1px #555;
        border-color: #555;
        background-color: #141414;
      }
    }
  }
}
