.--circular {


  // webfonts.scss

  @font-face {
    font-family: 'Circular';
    src: url('webfonts/Circular/lineto-circular-book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Circular';
    src: url('webfonts/Circular/lineto-circular-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }



  // reboot.scss

  body {
    font-family: "Circular";
  }


}
