.--corporate {

  --accent-color: #{$blue};
  --text-color: #{$blue};
  --link-underline-color: #{rgba($blue,0.10)};

  // Set currentColor
  color: var(--text-color);

}

@media (prefers-color-scheme: dark) {
  .--corporate {
    --background-color: white;
  }
}
