



.theme-corporate {

  // Bootstrap overrides
  $body-bg: lighten($blue, 40%);
  $body-color: $gray-900;

  @import "../lib/bootstrap/variables";
  @import "../lib/bootstrap/mixins";
  @import "../lib/bootstrap/root";


  //@import "../lib/bootstrap/reboot";
  // this is all we need from reboot
  body {
    //color: $body-color;
    background-color: $body-bg; // 2
  }


  @import "../lib/bootstrap/type";
  @import "../lib/bootstrap/images";
  @import "../lib/bootstrap/tables";
  @import "../lib/bootstrap/forms";
  //@import "../lib/bootstrap/buttons";
  @import "../lib/bootstrap/transitions";
  @import "../lib/bootstrap/dropdown";
  //@import "../lib/bootstrap/button-group";
  @import "../lib/bootstrap/input-group";
  @import "../lib/bootstrap/custom-forms";
  @import "../lib/bootstrap/nav";
  // @import "../lib/bootstrap/navbar";
  @import "../lib/bootstrap/card";
  // @import "../lib/bootstrap/breadcrumb";
  @import "../lib/bootstrap/pagination";
  @import "../lib/bootstrap/badge";
  // @import "../lib/bootstrap/jumbotron";
  @import "../lib/bootstrap/alert";
  // @import "../lib/bootstrap/progress";
  @import "../lib/bootstrap/media";
  @import "../lib/bootstrap/list-group";
  @import "../lib/bootstrap/close";
  // @import "../lib/bootstrap/modal";
  @import "../lib/bootstrap/tooltip";
  @import "../lib/bootstrap/popover";
  // @import "../lib/bootstrap/carousel";


  // Overrides for additional styles
  $footer-bg: lighten($blue, 35%);
  $footer-bg-legal: lighten($blue, 30%);
  $cookie-message-bg: rgba(lighten($blue, 25%), 0.9);

  $range-track-right: lighten($blue, 45%);
  $range-track-left: lighten($blue, 25%);
  $range-knob-color: $blue;

  // Additional styles
  @import '../variables';
  // @import '../fullpage';
  @import '../range';
  @import '../cookie-message-theme';
  // @import '../map';
  // @import '../lib/prism/prism';
  // @import '../sections/headers';
  @import '../sections/footers';
}
