.--dark {

  --accent-color: #{$pink};
  --text-color: #{$light-gray};
  --background-color: #100e17; // experimental color

  --footer-color: var(--text-color);
  --footer-background-color: #201c29; // experimental color

  // experimental
  --panel-background-color: #17141d; // experimental color



  // Overrides for SG styles
  $footer-bg: rgba(0,0,55,0.2);
  $footer-bg-legal: #2b2040;
  $cookie-message-bg: rgba(35,26,51,0.9);
  $grid-lines-color: #444;
  $grid-box-hover-color: #2e2e2e;
  $sg-text-color: #C5D2F6;
  $sg-bg-color: #322C50;



  // Additional styles

  @import '../lib/prism/dark';
}
