.--dark {

  --accent-color: #{$pink};
  --text-color: #{$light-gray};
  --background-color: #100e17;
  // experimental
  --panel-background-color: #17141d;



  // Overrides for SG styles
  $footer-bg: rgba(0,0,55,0.2);
  $footer-bg-legal: #2b2040;
  $cookie-message-bg: rgba(35,26,51,0.9);
  $grid-lines-color: #444;
  $grid-box-hover-color: #2e2e2e;
  $sg-text-color: #C5D2F6;
  $sg-bg-color: #322C50;



  // Additional styles
  @import '../variables';
  // @import '../fullpage';
  // @import '../range';
  @import '../flex-theme';
  @import '../buttons-theme';
  @import '../logo-theme';
  @import '../navbar-theme';
  @import '../icons-theme';
  @import '../timeline-theme';
  // @import '../map';
  // @import '../lib/prism/prism';
  // @import '../sections/headers';
  @import '../lib/prism/dark';
}
