
// Bootstrap overrides
$body-bg: #1f1f1f;
$body-color: white;


// Overrides for additional styles
$footer-bg: #222;
$footer-bg-legal: #2d2d2d;
$cookie-message-bg: rgba(80,80,80,0.9);


.theme-dark {

  // Bootstrap
  @import "../lib/bootstrap/variables";
  @import "../lib/bootstrap/mixins";
  @import "../lib/bootstrap/root";
  @import "../lib/bootstrap/reboot";
  @import "../lib/bootstrap/type";
  @import "../lib/bootstrap/images";
  @import "../lib/bootstrap/tables";
  @import "../lib/bootstrap/forms";
  @import "../lib/bootstrap/buttons";
  @import "../lib/bootstrap/transitions";
  @import "../lib/bootstrap/dropdown";
  @import "../lib/bootstrap/button-group";
  @import "../lib/bootstrap/input-group";
  @import "../lib/bootstrap/custom-forms";
  @import "../lib/bootstrap/nav";
  // @import "../lib/bootstrap/navbar";
  @import "../lib/bootstrap/card";
  // @import "../lib/bootstrap/breadcrumb";
  @import "../lib/bootstrap/pagination";
  @import "../lib/bootstrap/badge";
  // @import "../lib/bootstrap/jumbotron";
  @import "../lib/bootstrap/alert";
  // @import "../lib/bootstrap/progress";
  @import "../lib/bootstrap/media";
  @import "../lib/bootstrap/list-group";
  @import "../lib/bootstrap/close";
  // @import "../lib/bootstrap/modal";
  @import "../lib/bootstrap/tooltip";
  @import "../lib/bootstrap/popover";
  // @import "../lib/bootstrap/carousel";


  // Additional styles
  @import '../variables';
  // @import '../fullpage';
  // @import '../range';
  @import '../cookie-message';
  // @import '../map';
  // @import '../lib/prism/prism';
  // @import '../sections/headers';
  @import '../sections/footers';
}
