

.theme-dark {

  // Bootstrap overrides
  $body-bg: #322C50;
  $body-color: #C5D2F6;

  $link-color: #FF0078;
  $link-hover-color: darken($link-color, 15%);

  // Bootstrap
  @import "../lib/bootstrap/variables";
  @import "../lib/bootstrap/mixins";
  @import "../lib/bootstrap/root";

  //@import "../lib/bootstrap/reboot";
  // this is all we need from reboot
  body {
    color: $body-color;
    background-color: $body-bg; // 2
  }
  a {
    color: $link-color;
    @include hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration; // NOTE: possibly not needed?
    }
  }

  @import "../lib/bootstrap/type";
  @import "../lib/bootstrap/images";
  @import "../lib/bootstrap/tables";
  @import "../lib/bootstrap/forms";
  //@import "../lib/bootstrap/buttons";
  @import "../lib/bootstrap/transitions";
  @import "../lib/bootstrap/dropdown";
  //@import "../lib/bootstrap/button-group";
  @import "../lib/bootstrap/input-group";
  @import "../lib/bootstrap/custom-forms";
  @import "../lib/bootstrap/nav";
  // @import "../lib/bootstrap/navbar";
  @import "../lib/bootstrap/card";
  // @import "../lib/bootstrap/breadcrumb";
  @import "../lib/bootstrap/pagination";
  @import "../lib/bootstrap/badge";
  // @import "../lib/bootstrap/jumbotron";
  @import "../lib/bootstrap/alert";
  // @import "../lib/bootstrap/progress";
  @import "../lib/bootstrap/media";
  @import "../lib/bootstrap/list-group";
  @import "../lib/bootstrap/close";
  // @import "../lib/bootstrap/modal";
  @import "../lib/bootstrap/tooltip";
  @import "../lib/bootstrap/popover";
  // @import "../lib/bootstrap/carousel";




  // Overrides for SG styles
  $footer-bg: rgba(0,0,55,0.2);
  $footer-bg-legal: #2b2040;
  $cookie-message-bg: rgba(35,26,51,0.9);
  $grid-lines-color: #444;
  $grid-box-hover-color: #2e2e2e;


  $button-colors: map-merge((
    "secondary": (green, yellow) black,
  ), $button-colors);


  // Additional styles
  @import '../variables';
  // @import '../fullpage';
  @import '../grid';
  // @import '../range';
  @import '../cookie-message-theme';
  @import '../buttons-theme';
  // @import '../map';
  // @import '../lib/prism/prism';
  // @import '../sections/headers';
  @import '../lib/prism/dark';
  @import '../sections/footers';
}
