
// Bootstrap overrides
$font-family-sans-serif:
  Gilroy,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol"
  ;


// Bootstrap
@import "../lib/bootstrap/functions";
@import "../lib/bootstrap/variables";
@import "../lib/bootstrap/mixins";
@import "../lib/bootstrap/root";
@import "../lib/bootstrap/reboot";
@import "../lib/bootstrap/type";
@import "../lib/bootstrap/images";
// @import "../lib/bootstrap/code";
@import "../lib/bootstrap/grid";
@import "../lib/bootstrap/tables";
@import "../lib/bootstrap/forms";
@import "../lib/bootstrap/buttons";
@import "../lib/bootstrap/transitions";
@import "../lib/bootstrap/dropdown";
@import "../lib/bootstrap/button-group";
@import "../lib/bootstrap/input-group";
@import "../lib/bootstrap/custom-forms";
@import "../lib/bootstrap/nav";
// @import "../lib/bootstrap/navbar";
@import "../lib/bootstrap/card";
// @import "../lib/bootstrap/breadcrumb";
@import "../lib/bootstrap/pagination";
@import "../lib/bootstrap/badge";
// @import "../lib/bootstrap/jumbotron";
@import "../lib/bootstrap/alert";
// @import "../lib/bootstrap/progress";
@import "../lib/bootstrap/media";
@import "../lib/bootstrap/list-group";
@import "../lib/bootstrap/close";
// @import "../lib/bootstrap/modal";
@import "../lib/bootstrap/tooltip";
@import "../lib/bootstrap/popover";
@import "../lib/bootstrap/carousel";
@import "../lib/bootstrap/utilities";
// @import "../lib/bootstrap/print";



// Additional styles
@import '../variables';
@import '../grid';
@import '../fullpage';
@import '../range';
@import '../cookie-message';
@import '../map';
@import '../lib/prism/prism';
@import '../sections/headers';
@import '../sections/footers';
