



.theme-sales {

  // Bootstrap overrides
  $body-bg: white;
  $body-color: $gray-900;

  $blue: #fb8409;
  $primary: $blue;

  $colors: (
    "blue": $blue
  );

  $theme-colors: (
    "primary": $primary
  );

  $link-color: $primary;
  $link-hover-color: darken($link-color, 15%);

  $component-active-bg: theme-color("primary");
  $nav-pills-link-active-bg: $component-active-bg;

  //@import "../lib/bootstrap/variables";
  @import "../lib/bootstrap/mixins";
  @import "../lib/bootstrap/root";
  //@import "../lib/bootstrap/reboot";
  // this is all we need from reboot
  a {
    color: $link-color;
    @include hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration; // NOTE: possibly not needed?
    }
  }

  @import "../lib/bootstrap/type";
  @import "../lib/bootstrap/images";
  @import "../lib/bootstrap/tables";
  @import "../lib/bootstrap/forms";
  //@import "../lib/bootstrap/buttons";
  @import "../lib/bootstrap/transitions";
  @import "../lib/bootstrap/dropdown";
  //@import "../lib/bootstrap/button-group";
  @import "../lib/bootstrap/input-group";
  @import "../lib/bootstrap/custom-forms";
  // @import "../lib/bootstrap/nav";
  // @import "../lib/bootstrap/navbar";
  @import "../lib/bootstrap/card";
  // @import "../lib/bootstrap/breadcrumb";
  @import "../lib/bootstrap/pagination";
  @import "../lib/bootstrap/badge";
  // @import "../lib/bootstrap/jumbotron";
  @import "../lib/bootstrap/alert";
  // @import "../lib/bootstrap/progress";
  @import "../lib/bootstrap/media";
  @import "../lib/bootstrap/list-group";
  @import "../lib/bootstrap/close";
  // @import "../lib/bootstrap/modal";
  @import "../lib/bootstrap/tooltip";
  @import "../lib/bootstrap/popover";
  // @import "../lib/bootstrap/carousel";



  // Overrides for additional stylesheet
  //$cookie-message-bg: rgba(230,230,230,0.9);

  $button-colors: map-merge($button-colors, ("primary": $gradient-sales $button-text-color));


  //@import '../variables';
  //@import '../cookie-message';
  @import '../buttons-theme';
  @import '../navbar-theme';
}
