.vecora#header {
  z-index: 1000;

  &:not(.transparent) {
    backdrop-filter: blur(20px);
    background-color: #ffffffcc;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 3px #00000010;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.--on-color .vecora#header {
  background-color: transparent;
}

header#header, header#blog-header {


}

header#blog-header {

}


.no-header {
  margin-top: 10 * $unit;
  margin-bottom: 10 * $unit;
}
