
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="{{ site.baseurl }}/">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="dist/styles.css">
  <link rel="stylesheet" href="assets/main.css">
  <script src="dist/head.js"></script>
  <title>{{ page.title }}</title>
</head>

<body data-spy="scroll" data-target="#document-nav" data-offset="0">

  <header>
    <br>
    <p class="text-center"><a href="https://vecora.github.io/sg-vecora/docs/">Style guide</a> &bull; <a href="https://github.com/vecora/sg-vecora">GitHub</a></p>
    <br>
  </header>

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">

          <nav class="sticky-top document-nav">
            <ul class="list-unstyled list-bold">
              <li><a href="{{ site.baseurl }}{% link docs/introduction.md %}">Introduction</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/design.md %}">Design</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/layout.md %}">Layout</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/content.md %}">Content</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/components/index.md %}">Components</a>
                <ul>
                  <li><a href="{{ site.baseurl }}{% link docs/components/buttons.md %}">Buttons</a></li>
                  <li><a href="{{ site.baseurl }}{% link docs/components/card.md %}">Card</a></li>
                  <li><a href="{{ site.baseurl }}{% link docs/components/forms.md %}">Forms</a></li>
                  <li><a href="{{ site.baseurl }}{% link docs/components/icons.md %}">Icons</a></li>
                  <li><a href="{{ site.baseurl }}{% link docs/components/navs.md %}">Navs</a></li>
                  <li><a href="{{ site.baseurl }}{% link docs/components/social-proofing.md %}">Social Proofing</a></li>
                  <li><a href="{{ site.baseurl }}{% link docs/components/timeline.md %}">Timeline</a></li>
                  <li><a href="{{ site.baseurl }}{% link docs/components/hubspot.md %}">HubSpot</a></li>
                  <li><a href="{{ site.baseurl }}{% link docs/components/more.md %}">More</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}{% link docs/fullpage.md %}">Fullpage</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/scripts.md %}">Scripts</a></li>
            </ul>
          </nav>

        </div>
        <div class="col-md-10 col-lg-8">

          <h1>{{ page.title }}</h1>
          <p class="lead">{{ page.description }}</p>
          {{ content }}

        </div>
        <div class="col-lg-2 d-none d-lg-block">
          <nav class="sticky-top document-nav nav">
            {% include toc.html html=content %}
          </nav>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>

  <div class="cookie-message">
    <p>By using this website you accept that we use information capsules. Read more about how we handle your personal information in our <a href="#">privacy statement</a>.</p>
    <button class="button primary">That's okey!</button>
  </div>

  <script src="dist/main.js"></script>
  <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDAC2otWTUAVKGqsOyNNOgztuH64LFBNQs&callback=Maps.init"></script>
  <script src="assets/main.js"></script>
</body>

</html>
