
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="{{ site.baseurl }}/">
  <link rel="stylesheet" href="dist/styles.css">
  <title>{{ page.title }}</title>
</head>

<body>

  <header>
    <br>
    <p class="text-center"><a href="https://github.com/vecora/sg-vecora">GitHub</a></p>
    <br>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-2">

          <nav>
            <ul class="list-unstyled">
              <li><a href="{{ site.baseurl }}/docs/">Introduction</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/themes.md %}">Themes</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/layout.md %}">Layout</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/components.md %}">Components</a></li>
              <li><a href="{{ site.baseurl }}{% link docs/scripts.md %}">Scripts</a></li>
            </ul>
          </nav>

        </div>
        <div class="col-8">

          <h1>{{ page.title }}</h1>
          <p class="lead">{{ page.description }}</p>
          {{ content }}

        </div>
        <div class="col-2">
          * TOC
          {:toc}
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>

  <div class="cookie-message">
    <button class="btn btn-primary float-right">That's okey!</button>
    <p>By using this website you accept that we use information capsules. Read more about how we handle your personal information in our <a href="#">privacy statement</a>.</p>
  </div>

  <script src="dist/scripts.js"></script>
  <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDAC2otWTUAVKGqsOyNNOgztuH64LFBNQs&callback=Maps.init"></script>
  <script src="assets/main.js"></script>
</body>

</html>
