<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="theme-dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="{{ site.baseurl }}/">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="dist/styles.css">
  <link rel="stylesheet" href="assets/main.css">
  <title>{{ page.title }}</title>
</head>

<body data-spy="scroll" data-target="#document-nav" data-offset="0" class="docs-frontpage --moving-background-gradient --on-color">

  <main>
    <div class="container-100vh container-100vh--center">

          <div class="logo logo--huge logo--center logo--art_glitch"></div>

          <br><br>
          <h1  class="text-center">{{ page.title }}</h1>

          <br>

        <div class="text-center">
          <a href="https://vecora.github.io/sg-vecora/docs/introduction" class="button huge outline negative">Read the documentation</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/vecora/sg-vecora" class="button huge outline negative">Download from GitHub</a>
        </div>

        <div class="container-100vh__footer">
          <p class="text-center">Created by <a href="https://www.vecora.com">Vecora in Norway</a>. Licensed under <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>.</p>
        </div>

    </div>
  </main>

  <footer class="vecora" id="footer">

    <section id="legal">
      <div class="container">
        <div class="row">
          <div class="col">
                          2018 – 2019 © Vecora AS. Vecora® is a registered trademark in EU and other countries.
                      </div>
        </div>
      </div>
    </section>
  </footer>

  <div class="cookie-message">
    <p>By using this website you accept that we use information capsules. Read more about how we handle your personal information in our <a href="#">privacy statement</a>.</p>
    <button class="button primary">That's okey!</button>
  </div>

  <script src="dist/scripts.js"></script>
  <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDAC2otWTUAVKGqsOyNNOgztuH64LFBNQs&callback=Maps.init"></script>
  <script src="assets/main.js"></script>
</body>

</html>
