@import 'scss/bootstrap-overrides';
@import 'scss/themes/blue/bootstrap-overrides';
@import 'scss/lib/bootstrap/bootstrap';

@import 'scss/fullpage';
@import 'scss/section/headers';
@import 'scss/section/footers';