// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.button {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  //border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  border-radius: 50px; // TODO: figure out the height and set this to half the height

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }


  background-image: linear-gradient(to right, #eee, #f2f2f2);
  border: none;
  padding: 11px 30px 10px 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 80%;
  // margin: 5px 5px;
  &, &a { color: #555; }
  // transition: box-shadow 150ms ease-out;
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}



.button.primary {
  background-image: linear-gradient(to right, nth(map-get($theme-gradients, default), 1)) !important;
  background-color: nth(nth(map-get($theme-gradients, default), 1), 2);
  color: nth(map-get($theme-gradients, default), 2) !important;
  //&:hover {
  //  box-shadow: 0 0 15px nth(nth(map-get($theme-gradients, default), 1), 2);
  //}
}

@each $color, $value in $theme-gradients {
  .button.#{$color} {
    background-image: linear-gradient(to right, nth($value, 1)) !important;
    background-color: nth(nth($value, 1), 2);
    color: nth($value, 2) !important;
  }
}


.theme-dark {
  .button {
    background-image: linear-gradient(to right, #251e4c, #1f1840);
    &, &a { color: white; }
  }
}

.theme-corporate {
  .button.primary {
    background-image: linear-gradient(to right, nth(map-get($theme-gradients, corporate), 1)) !important;
    color: nth(map-get($theme-gradients, corporate), 2) !important;
  }
}

.theme-sales {
  .button.primary {
    background-image: linear-gradient(to right, nth(map-get($theme-gradients, sales), 1)) !important;
    color: nth(map-get($theme-gradients, sales), 2) !important;
  }
}


.button.small {
  padding: 8px 20px 7px 20px;
  letter-spacing: 0.5px;
  font-size: 60% !important;
  font-weight: 600 !important;
}
.button.big {
  padding: 16px 40px 14px 40px;
  letter-spacing: 1.5px;
  font-size: 120%;
}
.button.massive {
  padding: 24px 50px 22px 50px;
  letter-spacing: 2px;
  font-size: 150%;
}

.button.fluid {
  display: block;
  width: 100%;
}


.button.outline {
  background: none;
  //padding-top: 9px;
  //padding-bottom: 8px;
  border: 2px solid white;

  @each $color, $value in $theme-gradients {
    &.#{$color} {
      border-image: linear-gradient(to right, nth($value, 1));
      color: nth(nth($value, 1), 1) !important;
    }
  }
}



/*
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
*/


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
