.vecora.card {
  $cardUnit: 40 * $unit;

  display: flex;
  flex-direction: row;

  width: 2 * $cardUnit;

  .cover {
    width: $cardUnit;
    height: $cardUnit;
    position: relative;
    overflow: hidden;

    .photo {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background-size: cover;
      background-position: center;
    }

    .content {
      position: absolute;
      top: 3 * $unit; right: 3 * $unit; bottom: 3 * $unit; left: 3 * $unit;
      .heading {
        text-transform: uppercase;
        font-family: "Gilroy Heavy";
        margin: 0 !important;
        color: white;
      }
      .tagline {
        margin: 0 !important;
        color: white;
      }
    }
  }

  .article {
    width: $cardUnit;
    height: $cardUnit;
    background-color: #eee;
    padding: 3 * $unit;
    .excerpt {
      font-size: 18px;
      color: gray;
      &:hover { color: gray; }
    }
  }

  &.folded {
    width: 1 * $cardUnit;
    .article { display: none;}
  }
}
