
// NOTE: This is a modifier to blocks and elements, but independent of any spesific block or element.
.--moving-background-gradient {
  background: linear-gradient(270deg, #FF0078, #FA4024);
  background-size: 400% 400%;
  -webkit-animation: moving-background-gradient 15s ease infinite alternate;
  -moz-animation: moving-background-gradient 15s ease infinite alternate;
  animation: moving-background-gradient 15s ease infinite alternate;
}

h1, h2, h3, h4, h5, h6
// TODO: Support new .--h{n} and .--display-{n} styles
{
  &.--moving-background-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
  }
}


@-webkit-keyframes moving-background-gradient {
  0% { background-position: 0% 50% }
  100% { background-position: 100% 50% }
}

@-moz-keyframes moving-background-gradient {
  0% { background-position: 0% 50% }
  100% { background-position: 100% 50% }
}

@keyframes moving-background-gradient {
  0% { background-position: 0% 50% }
  100% { background-position: 100% 50% }
}
