
// NOTE: This is a modifier to blocks and elements, but independent of any spesific block or element.
.--moving-background-gradient {
  background: linear-gradient(-45deg, $magenta, $rose, $pink, $red, $orange, $fawn);
  background-size: 200% 200%;
  -webkit-animation: moving-background-gradient 30s ease infinite alternate;
  -moz-animation: moving-background-gradient 30s ease infinite alternate;
  animation: moving-background-gradient 30s ease infinite alternate;
  background-position: 200% 200%;
}

h1, h2, h3, h4, h5, h6
// TODO: Support new .--h{n} and .--display-{n} styles
{
  &.--moving-background-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
    background-position: 200% 200%;
  }
}


@-webkit-keyframes moving-background-gradient {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

@-moz-keyframes moving-background-gradient {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

@keyframes moving-background-gradient {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}


.eight-point-background {
  $primary-color: lighten($gray, 30%);
  $secondary-color: lighten($gray, 35%);
  background-image:
    linear-gradient($primary-color 1px, transparent 1px),
    linear-gradient(90deg, $primary-color 1px, transparent 1px),
    linear-gradient($secondary-color 1px, transparent 1px),
    linear-gradient(90deg, $secondary-color 1px, transparent 1px);
  background-size: 16px 16px, 16px 16px, 8px 8px, 8px 8px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}
