/*body {
  -webkit-hyphen: manual;
  -moz-hyphen: manual;
  -ms-hyphen: manual;
  hyphen: manual;
}*/

em {
  font-weight: 900;
}

q:lang(no),
q:lang(nb),
q:lang(nn),
q:lang(nb-NO),
q:lang(nn-NO) {
  quotes: "«" "»"; // no double quotes

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.display-1, .display-2 {
  text-align: center;
}
