.cookie-message {
  // display: none;

  // Initial state is hidden, until activated by JS.
  display: none;

  width: calc(100% - 60px);
  max-width: 768px - 60px;
  padding: 30px;
  background-color: $cookie-message-bg;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(63,63,63,0.2);

  @media (max-width: 575.98px) {
    border-radius: 0;
    bottom: 0;
    width: 100%;
    button {
      margin-top: 30px;
    }
    p { text-align: center; }
  }

  p {
    // font-weight: bolder;
    padding-right: 20px;
    margin-bottom: 0;
  }

  button {
    text-transform: uppercase;
  }

  &::before {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 200px;
    left: 200px;
    filter: blur(20px);
  }
}
