.cookie-message {

  // Initial state is hidden, until activated by JS.
  // TODO: Create a fallback for none JS browsers.
  display: none;
  //--text-color: #{$dark-gray};


  // General styles
  position: fixed;
  z-index: 9999;
  align-items: center;
  padding: var(--spacer);
  p { margin: 0; }

  font-size: calc-font-size(1.5, map-get($fonts, gilroy));
  line-height: calc-line-height(2, 1.5, map-get($fonts, gilroy));

  @extend %panel;


  // xs
  flex-direction: column;
  width: 100%;
  text-align: center;
  bottom: 0;
  button {
    margin: var(--spacer) 0 0 0;
  }

  $breakpoint: 600px; //#{map-get(map-get($screen-resolutions, 3xs), width)};
  @media (min-width: $breakpoint) {
    width: calc(100% - 2 * var(--spacer));
    max-width: calc(#{strip($breakpoint) / 8 } * var(--unit) - 2 * var(--spacer));
    bottom: var(--spacer);
    left: 50%; transform: translate(-50%, 0);
    border-radius: $corners;
    test: #{strip($breakpoint)};
  }


}





.--on-color .cookie-message {
  color: $dark-gray;
  a { color: $dark-gray; border-bottom-color: $dark-gray; }
}
