.cookie-message {

  // Initial state is hidden, until activated by JS.
  // TODO: Create a fallback for none JS browsers.
  display: none;

  // General styles
  position: fixed;
  z-index: 9999;
  align-items: center;
  padding: 4 * $unit;
  p { margin: 0; }
  font-size: 16px;
  line-height: 1.5em;

  @extend %panel;


  // xs
  flex-direction: column;
  width: 100%;
  text-align: center;
  bottom: 0;
  button {
    margin: $spacer 0 0 0;
  }

  $breakpoint: #{map-get(map-get($screen-resolutions, 2xs), width)};
  @media (min-width: $breakpoint) {
    width: calc(100% - 2 * #{$spacer});
    max-width: calc(#{$breakpoint} - 2 * #{$spacer});
    bottom: $spacer;
    left: 50%; transform: translate(-50%, 0);
    border-radius: $corners;
  }


}





.--on-color .cookie-message {
  color: $dark-gray;
  a { color: $dark-gray; border-bottom-color: $dark-gray; }
}
