.cookie-message {

  // Initial state is hidden, until activated by JS.
  // TODO: Create a fallback for none JS browsers.
  display: none;

  // General styles
  position: fixed;
  align-items: center;
  padding: 30px;
  p { margin: 0; }
  background-color: $cookie-message-bg;

  @supports (backdrop-filter: blur(50px)) or (-webkit-backdrop-filter: blur(50px)) {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: transparent;
  }


  // xs
  flex-direction: column;
  width: 100%;
  text-align: center;
  bottom: 0;
  button {
    margin: 30px 0 0 0;
  }

  // md
  @include media-breakpoint-up(md) {
    flex-direction: row;
    width: calc(100% - 60px);
    max-width: 768px - 60px;
    bottom: 30px;
    left: 50%; transform: translate(-50%, 0);
    border-radius: $corners;
    box-shadow: 0 0 3px rgba(63,63,63,0.2); // TODO: Use variable
    button {
      margin: 0 0 0 30px;
    }
    p {
      text-align: left;
    }
  }

}
