nav.crumbs {
  background-color: red;
  list-style: none;
  padding: 0;

  li {
    display: inline;

    &::after {
      content: " ";
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}
