nav.crumbs ul {
  list-style: none;
  padding: 0;

  li {
    display: inline;
    font-size: 80%;
    font-weight: 400;

    a {
      color: #999;
      &:hover {
        color: $sg-blue;
      }
    }

    &::after {
      content: " ";
      border: solid #dadada;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 0.25em;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin: 0 8px;
    }

    &:last-child {

      &::after { content: none; }
    }
  }
}
