.vecora.fullpage {

	.section {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		background: linear-gradient(white, #fcfcfc);

		&.simple {
			h2, p {
				width: 60vw;
			}

			.button {}
		}

		.next {
			position: absolute;
			bottom: 5vh;

			.label {}
			.arrow {}
		}
	}

}
