.vecora.fullpage {

	.content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		padding-left: 10%;
		padding-right: 10%;

		background: linear-gradient(white, #fcfcfc);

		h2, p {
			max-width: 60vw;
			text-align: center;
		}

		.button.massive {
			margin-top: 40px;
		}

		&.split {
			flex-direction: row;

			.column {
				flex-basis: 0;
				flex-grow: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}
		}

		.next {
			position: absolute;
			bottom: 5vh;

			.label {
				@include capitalized();
				color: black;
				margin-top: 1 * $unit;
				font-size: 16px;
			}
			.arrow {
				@extend .icon, .icon.circle-arrow-down;
			}
			.icon {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

}

/* Overrides of fullPage styles */
#fp-nav .fp-tooltip {
	// TODO: Set these using variables!!!
	// WARNING: This is affected by theming.
	font-family: Gilroy !important;
	color: black !important;
}
