.v-con {

  $gutter: 4 * $unit;

  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  margin-left: auto;
  margin-right: auto;

  // TODO: These variables should be global, and defined in _variables.scss
  $screen-width-3x-small: 480px;
  $screen-width-2x-small: 640px;
  $screen-width-extra-small: 758px;
  $screen-width-small: 1024px;
  $screen-width-medium: 1280px;
  $screen-width-large: 1440px;
  $screen-width-extra-large: 1600px;
  $screen-width-hd: 1920px;
  $screen-width-2k: 2048px;
  $screen-width-wqhd: 2560px;
  $screen-width-uhd: 3840px;
  $screen-width-4k: 4096px;
  $screen-width-5k: 5120px;


  display: flex;
  flex-wrap: nowrap;

  &.v-con--no-box {
    display: block;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &.v-con--center { justify-content: center; }

  &.v-con--wrap { flex-wrap: wrap; }

  &.v-con--max-width-large { max-width: $screen-width-large; }
  &.v-con--max-width-hd { max-width: $screen-width-hd; }

  .v-con__box {
    flex-grow: 1;
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
  }

  .v-con__box--magic-4 {
    // Magically divides into 3, 2, and 1 on smaller screens.
    width: 100%;
    flex-grow: 0;
  }

  // .v-con__box--hard-3 {}



  @media (min-width: $screen-width-extra-small) {
      .v-con__box--magic-4 {
        width: calc(50% - #{$gutter});
      }
  }

  @media (min-width: $screen-width-medium) {
      .v-con__box--magic-4 {
        width: calc(33.33333% - #{$gutter});
      }
  }

  @media (min-width: $screen-width-extra-large) {
      .v-con__box--magic-4 {
        width: calc(25% - #{$gutter});
      }
  }



}







.container-fluid {
  &.max-width-hd { max-width: 1920px; }
  &.max-width-wqhd { max-width: 2560px; }
  &.max-width-uhd { max-width: 3840px; }
}


.grid-lines {

  [class*="col-"] {
    padding: $grid-gutter-width;

    border-top: 1px solid $grid-lines-color;
    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-right: none;
    }

  }

  &.hover {
    [class*="col-"]:hover {
      background-color: $grid-box-hover-color;
    }
  }

  @media (min-width: 1200px) {
    .col-xl-3 {
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        border-top: none;
      }
      border-right: 1px solid $grid-lines-color;
      &:nth-child(4n) {
        border-right: none;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .col-md-4 {
      &:nth-child(2), &:nth-child(3) {
        border-top: none;
      }
      border-right: 1px solid $grid-lines-color;
      &:nth-child(3n) {
        border-right: none;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .col-md-4 {
      &:nth-child(2), &:nth-child(3) {
        border-top: none;
      }
      border-right: 1px solid $grid-lines-color;
      &:nth-child(3n) {
        border-right: none;
      }
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .col-sm-6 {
      &:nth-child(2) {
        border-top: none;
      }
      border-right: 1px solid $grid-lines-color;
      &:nth-child(2n) {
        border-right: none;
      }
    }
  }
}
