.icon, .smiley {
  display: block;
  height: calc(4 * var(--unit));
  width: calc(4 * var(--unit));
  background-color: var(--text-color);

  &.inline {
    height: 1.2em; width: 1.2em;
    vertical-align: text-bottom;
  }

  &.large {
    height: calc(6 * var(--unit));
    width: calc(6 * var(--unit));
  }
}

// supported inline elements
a.icon, span.icon, a.smiley, span.smiley {
  display: inline-block;
}


a.icon, a.smiley {
  text-indent: -99999px;
}

.icon.facebook {
  -webkit-mask-image: url(resources/icon-facebook.svg);
}

.icon.facebook-alt {
  -webkit-mask-image: url(resources/icon-facebook-alt.svg);
}

.icon.instagram {
  -webkit-mask-image: url(resources/icon-instagram.svg);
}

.icon.instagram-alt {
  -webkit-mask-image: url(resources/icon-instagram-alt.svg);
}

.icon.linkedin {
  -webkit-mask-image: url(resources/icon-linkedin.svg);
}

.icon.linkedin-alt {
  -webkit-mask-image: url(resources/icon-linkedin-alt.svg);
}

.icon.github {
  -webkit-mask-image: url(resources/icon-github.svg);
}

.icon.youtube {
  -webkit-mask-image: url(resources/icon-youtube.svg);
}

.icon.slack {
  -webkit-mask-image: url(resources/icon-slack.svg);
}

.icon.circle-arrow-down {
  -webkit-mask-image: url(resources/icon-circle-arrow-down.svg);
}

.icon.circle-arrow-left {
  -webkit-mask-image: url(resources/icon-circle-arrow-left.svg);
}

.icon.circle-arrow-right {
  -webkit-mask-image: url(resources/icon-circle-arrow-right.svg);
}

.smiley.rolling-eyes {
  -webkit-mask-image: url(resources/smiley-rolling-eyes.svg);
}
