.icon {
  display: block;
  height: 30px;
  width: 30px;
  background-color: $sg-text-color;
}

// supported inline elements
a.icon, span.icon {
  display: inline-block;
}

a.icon {
  text-indent: -99999px;
}

.icon.facebook {
  -webkit-mask-image: url(resources/icon-facebook.svg);
}

.icon.instagram {
  -webkit-mask-image: url(resources/icon-instagram.svg);
}

.icon.linkedin {
  -webkit-mask-image: url(resources/icon-linkedin.svg);
}

.icon.github {
  -webkit-mask-image: url(resources/icon-github.svg);
}

.icon.youtube {
  -webkit-mask-image: url(resources/icon-youtube.svg);
}

.icon.slack {
  -webkit-mask-image: url(resources/icon-slack.svg);
}
