.logo {

  @function height($width) {
    @return calc(#{$width} / 8 * 5);
  }

  $sizes: (
    "nano": 3,
    "tiny": 4,
    "small": 6,
    "large": 12,
    "big": 16,
    "huge": 32,
    "massive": 64
  );

  display: block;

  // 64 x 40
  $width: calc(8 * var(--unit));
  height: height($width);
  width: $width;

  background-color: var(--text-color);
  -webkit-mask-image: url(resources/logo.svg);
  -webkit-mask-repeat: no-repeat;

  @media (max-width: 384px) {
    max-width: 66.666vw;
    max-height: 41.666vw;
  }


  @at-root .logo--alt-2 {
    width: calc(10 * var(--unit)); height: calc(10 * var(--unit));
    -webkit-mask-image: url(resources/logo-alt-2.svg);
  }

  @at-root .logo--alt-3 {
    width: calc(height($width) * 4.25);
    -webkit-mask-image: url(resources/logo-alt-3.svg);
  }

  @at-root .logo--outline {
    -webkit-mask-image: url(resources/logo-outline.svg);
  }

  @at-root .logo--center {
    margin-left: auto;
    margin-right: auto;
  }

  // Generate sizes
  @each $name, $multiplier in $sizes {
    @at-root .logo--#{$name} {
      $width: calc(#{$multiplier} * var(--unit));
      height: height($width);
      width: $width;
    }
  }


  // Art logos

  @at-root [class*=logo--art] {
    background-color: transparent;
    -webkit-mask: none;
    mask: none;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-color: $text-color;
      pointer-events: none;
    }

    @each $name, $multiplier in $sizes {
      @at-root .logo.logo--#{$name}::after {
        $margin: -25%;
        top: $margin;
        right: $margin;
        bottom: $margin;
        left: $margin;
      }
    }
    // Repeat for normal size (has no class)
    @at-root .logo::after {
      $margin: -25%;
      top: $margin;
      right: $margin;
      bottom: $margin;
      left: $margin;
    }
  }

  @at-root .logo--art_glitch::after {
    -webkit-mask-image: url(resources/logo/art/glitch.png);
    mask-image: url(resources/logo/art/glitch.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
  }

  @at-root .logo--art_3d-shadow::after {
    -webkit-mask-image: url(resources/logo/art/3d-shadow.svg);
    mask-image: url(resources/logo/art/3d-shadow.svg);
  }

  @at-root .logo--art_neon::after {
    -webkit-mask-image: url(resources/logo/art/neon.svg);
    mask-image: url(resources/logo/art/neon.svg);
  }

  @at-root .logo--art_neon-2::after {
    -webkit-mask-image: url(resources/logo/art/neon-2.svg);
    mask-image: url(resources/logo/art/neon-2.svg);
  }

  @at-root .logo--art_vector::after {
    -webkit-mask-image: url(resources/logo/art/vector.svg);
    mask-image: url(resources/logo/art/vector.svg);
  }

  @at-root .logo--art_3d-stripes::after {
    -webkit-mask-image: url(resources/logo/art/3d-stripes.svg);
    mask-image: url(resources/logo/art/3d-stripes.svg);
  }

  @at-root .logo--art_pixel::after {
    -webkit-mask-image: url(resources/logo/art/pixel.svg);
    mask-image: url(resources/logo/art/pixel.svg);
  }

  @at-root .logo--art_ascii::after {
    -webkit-mask-image: url(resources/logo/art/ascii.svg);
    mask-image: url(resources/logo/art/ascii.svg);
  }

  @at-root .logo--art_80s-shapes::after {
    -webkit-mask-image: url(resources/logo/art/80s-shapes.svg);
    mask-image: url(resources/logo/art/80s-shapes.svg);
  }

  @at-root .logo--art_times::after {
    -webkit-mask-image: url(resources/logo/art/times.svg);
    mask-image: url(resources/logo/art/times.svg);
  }

  @at-root .logo--art_stripe::after {
    -webkit-mask-image: url(resources/logo/art/stripe.svg);
    mask-image: url(resources/logo/art/stripe.svg);
  }

  @at-root .logo--art_sticker::after {
    -webkit-mask-image: url(resources/logo/art/sticker.svg);
    mask-image: url(resources/logo/art/sticker.svg);
  }

  @at-root .logo--art_sticker-negative::after {
    -webkit-mask-image: url(resources/logo/art/sticker-negative.svg);
    mask-image: url(resources/logo/art/sticker-negative.svg);
  }

  @at-root .logo--art_80s-font::after {
    -webkit-mask-image: url(resources/logo/art/80s-font.svg);
    mask-image: url(resources/logo/art/80s-font.svg);
  }

  @at-root .logo--art_isometric::after {
    -webkit-mask-image: url(resources/logo/art/isometric.svg);
    mask-image: url(resources/logo/art/isometric.svg);
  }

  @at-root .logo--art_3d-sheet::after {
    -webkit-mask-image: url(resources/logo/art/3d-sheet.svg);
    mask-image: url(resources/logo/art/3d-sheet.svg);
  }

  @at-root .logo--art_shade::after {
    -webkit-mask-image: url(resources/logo/art/shade.svg);
    mask-image: url(resources/logo/art/shade.svg);
  }

  @at-root .logo--art_stripe-2::after {
    -webkit-mask-image: url(resources/logo/art/stripe-2.svg);
    mask-image: url(resources/logo/art/stripe-2.svg);
  }

  @at-root .logo--art_blob::after {
    -webkit-mask-image: url(resources/logo/art/blob.svg);
    mask-image: url(resources/logo/art/blob.svg);
  }





  // Colored logos

  @at-root .logo--art_glitch_color::after {
    background-image: url(resources/logo-glitch-color.png);
    background-size: 100%;
    background-color: transparent;
  }

  @at-root .logo--art_3d-shadow_color::after {
    background-image: url(resources/logo-3d-shadow-color.png);
    background-size: 100%;
    background-color: transparent;
  }

  @at-root .logo--art_stripes_color::after {
    background-image: url(resources/logo-stripes-color.png);
    background-size: 100%;
    background-color: transparent;
  }

  @at-root .logo--art_stripes-2_color::after {
    background-image: url(resources/logo-stripes-2-color.png);
    background-size: 100%;
    background-color: transparent;
  }

  @at-root .logo--art_3d-stripes_color::after {
    background-image: url(resources/logo-3d-stripes-color.svg);
    background-color: transparent;
  }

  @at-root .logo--art_3d-stripes-2_color::after {
    background-image: url(resources/logo-3d-stripes-2-color.svg);
    background-color: transparent;
  }

  @at-root .logo--art_sticker_color::after {
    background-image: url(resources/logo-sticker-color.png);
    background-size: 100%;
    background-color: transparent;
  }


  // On color

  @at-root .--on-color .logo {
    background-color: white;
  }

  @at-root .--on-color [class*=logo--art] {
    background-color: transparent;
    &::after {
      background-color: white;
    }
  }

}

a.logo {
  text-indent: -9999px;

  // Cancel out link border
  border-bottom: none;
}
