// Variables
$navbarHeight: 12 * $unit; // = 96px
$navbarContentMargin: 3.5 * $unit; // = 28px // used for top and bottom spacing
$navbarContentHeight: $navbarHeight - (2 * $navbarContentMargin); // = 40px
$responsiveBreakPoint: 800px; // WARNING: This should be system wide, and not set here??
$navPanelWidth: 400px;

.navbar {

  // TODO: Place variables here.


  height: $navbarHeight;
  background-color: white;


  /*
   * Elements
   */


  /* Brand */
  .navbar__brand {
    position: absolute;
    left: 32px;
    top: $navbarContentMargin;
  }



  /* Burger */
  .navbar__toggler {
    // Use these vars to alter dimensions
    $burgerHeight: 3 * $unit;
    $burgerWidth: 4 * $unit;
    $barHeight: $unit / 2; 
    // WARNING: Leave these calculations alone!
    $barSpacing: ($burgerHeight - ($barHeight * 3)) / 2;
    $crossTranslation: (1.41421356237 * (($burgerHeight - $barHeight) / 2)) / 2;

    position: absolute;
    right: 32px; top: ($navbarHeight - $burgerHeight) / 2;
    cursor: pointer;
    width: $burgerWidth;
    z-index: 1000;

    // Label
    // ::before is the close label and ::after is the open (menu) label
    &::after { content: attr(data-label-open); }
    &::before { content: attr(data-label-close); opacity: 0; transform: scale(0.2, 0.2); }
    &::after, &::before {
      position: absolute;
      top: 0;
      right: $burgerWidth;
      padding-right: 1 * $unit;
      // TODO: Center cap height
      text-transform: uppercase; // QUESTION: Use same mixin as we use elsewhere?
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
      transform-origin: center right;
    }
    &.navbar__toggler--active::after {
      opacity: 0;
      transform: scale(0.2, 0.2);
    }
    &.navbar__toggler--active::before {
      opacity: 1;
      transform: scale(1, 1);
    }

    // Burger (bars)
    span {
      pointer-events: none;
      display: block;
      width: $burgerWidth;
      height: $barHeight;
      position: relative;
      background: black;
      border-radius: $barHeight / 2;
      transform-origin: center center;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
      // Give the spacing to the middle bar (on both sides)
      &:nth-last-child(2) {
        margin-top: $barSpacing;
        margin-bottom: $barSpacing;
      }
    }
    span:last-child {
      width: $burgerWidth / 3 * 2;
      transition: width 200ms;
    }
    &.navbar__toggler--active span:last-child, &.navbar__toggler:hover span:last-child{
      width: $burgerWidth;
    }

    // Transition burger into cross
    &.navbar__toggler--active {
      span {
        transform: rotate(45deg) translate($crossTranslation, $crossTranslation);
      }
      span:nth-last-child(2) {
        opacity: 0;
        transform: scale(0.2, 0.2);
      }
      span:last-child {
        transform: rotate(-45deg) translate($crossTranslation, -$crossTranslation);
      }
    }

  }



  /* Items */
  ul.navbar__nav {
    opacity: 0;
    position: absolute;
    top: -100vh; right: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0s 1s, top 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;

    list-style: none;
    margin: 0;
    padding: 32px; padding-top: $navbarHeight + 24px;

    li {
      text-align: center;
      font-size: 48px;
      margin-bottom: 32px;
      a {
        border: none;
        font-weight: 200;
        &:hover {
          color: $sg-red;
        }
      }
    }

    @supports (backdrop-filter: blur(50px)) or (-webkit-backdrop-filter: blur(50px)) {
      background-color: transparent;
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(50px);
    }
  }

  ul.navbar__nav--active {
    opacity: 1;
    top: 0;
    transition: top 1s;
  }

  /*
   * Modifiers
   */

  // TODO: Put forced responsive mode here

}

// Full mode
@media (min-width: $responsiveBreakPoint) {

  .navbar ul.navbar__nav {
    top: 0;
    right: -$navPanelWidth;
    width: $navPanelWidth;
    transition: opacity 0s 1s, right 1s;

    li { text-align: right; }
  }
  // TODO: Add panel to prevent interaction with page + JS (click to close nav)

  .navbar ul.navbar__nav--active {
    right: 0;
    transition: right 1s;
  }

  .navbar:not(.navbar--force-responsive-mode) {

    .navbar__toggler {
      // TODO: Should be set to closed through JS.
      display: none;
    }

    ul.navbar__nav {
      display: block;
      position: absolute;
      right: 0;
      top: $navbarContentMargin;
      li {
        $margin: 2 * $unit;
        position: relative;
        display: inline-block;
        a {
          display: inline-block;
          height: $navbarContentHeight;
          line-height: $navbarContentHeight;
          padding-left: $margin;
          padding-right: $margin;

          @include capitalized();
          font-size: 16px; // TODO: Baseline this!
          color: black;

          // Cancel out link border
          border-bottom: none;
        }

        &.active::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: $margin;
          right: $margin;
          height: 3px;
          background-color: $sg-red;
        }
      }
    }

  }

}


.--on-color .navbar {
  background-color: transparent;
  .navbar__toggler {
    &::after, &::before {
      color: white;
    }
    span {
      background: white;
    }
  }
}








.navbar.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: white;
  height: 100px;
}



.subnav {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9999;

  ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    text-align: center;
    background-color: #282346;
    margin:0;
    padding:0;
  }

  li {
    flex-grow: 1;
  }

  a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 80%;
    height: 45px;
    line-height: 45px;
    color: $sg-text-color;
    display:inline-block;
    width: 100%;

    &.active {
      background: $sg-text-color;
      color: $body-bg;
    }
  }
}


.--on-color .navbar {
  .navbar__toggler--active {
    color: black;
  }
}
