.navbar {
  margin: 30px 0;
  &, & .container { position: relative; }
  height: 30px;
  .logo {
    position: absolute;
    left: 0;
  }
  ul {
    position: absolute;
    right: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        text-transform: uppercase;
        font-size: 80%;
        letter-spacing: 1px;
        font-weight: 600;
        &.active {
          background-color: $link-color;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}

.navbar.fixed {
  position: fixed;
}
