.vecora.navbar {

  $height: 12 * $unit; // 96px
  $bread: 3.5 * $unit; // 28px // top and bottom spacing
  $meat: $height - (2 * $bread); // 40px

  &, & .container { position: relative; }

  height: $height;

  .logo {
    @extend .vecora.logo; // was @extend .vecora.logo, .vecora.logo.small;
    position: absolute;
    left: 0;
    top: $bread;
    text-indent: -9999px;
  }

  ul {
    position: absolute;
    right: 0;
    top: $bread;
    li {
      $margin: 2 * $unit;
      position: relative;
      display: inline-block;
      a {
        display: inline-block;
        height: $meat;
        line-height: $meat;
        padding-left: $margin;
        padding-right: $margin;

        @include capitalized();
        font-size: 16px; // TODO: Baseline this!
        color: black;
      }

      &.active::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: $margin;
        right: $margin;
        height: 3px;
        background-color: $sg-red;
      }
    }
  }
}

.navbar.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: white;
  height: 100px;
}



.subnav {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9999;

  ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    text-align: center;
    background-color: #282346;
    margin:0;
    padding:0;
  }

  li {
    flex-grow: 1;
  }

  a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 80%;
    height: 45px;
    line-height: 45px;
    color: $sg-text-color;
    display:inline-block;
    width: 100%;

    &.active {
      background: $sg-text-color;
      color: $body-bg;
    }
  }
}
