.navbar {
  padding: 30px 0;
  &, & .container { position: relative; }
  height: 100px;
  .logo {
    position: absolute;
    left: 0;
  }
  ul {
    position: absolute;
    right: 0;
    li {
      display: inline-block;
      a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        text-transform: uppercase;
        font-size: 80%;
        letter-spacing: 1px;
        font-weight: 600;
        &.active {
          background-color: $link-color;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}

.navbar.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: white;
  height: 100px;
}

.subnav {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9999;

  ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    text-align: center;
    background-color: #282346;
    margin:0;
    padding:0;
  }

  li {
    flex-grow: 1;
  }

  a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 80%;
    height: 45px;
    line-height: 45px;
    color: $sg-text-color;
    display:inline-block;
    width: 100%;

    &.active {
      background: $sg-text-color;
      color: $body-bg;
    }
  }
}
