.rating {
  background-image: url("resources/stars.svg");
  background-size: 100%;
  width: 150px;
  height: 26px;
  text-indent: -9999px;

  &[data-value="0"], &[data-value="0.0"] { background-position-y: 0px; }
  &[data-value="0.5"] { background-position-y: -25px; }
  &[data-value="1"], &[data-value="1.0"] { background-position-y: -50px; }
  &[data-value="1.5"] { background-position-y: -75px; }
  &[data-value="2"], &[data-value="2.0"] { background-position-y: -100px; }
  &[data-value="2.5"] { background-position-y: -126px; }
  &[data-value="3"], &[data-value="3.0"] { background-position-y: -151px; }
  &[data-value="3.5"] { background-position-y: -176px; }
  &[data-value="4"], &[data-value="4.0"] { background-position-y: -202px; }
  &[data-value="4.5"] { background-position-y: -227px; }
  &[data-value="5"], &[data-value="5.0"] { background-position-y: -253px; }
}
