
.review {
  //position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;

  img {
    border-radius: 50%;
    width: 200px;
    margin-right: 40px; // should equal 2 x gutter??
  }

  blockquote {
    margin:0;

    > p::before {
      content: "\201C";
      font-size: 180px;
      float: left;
      height: 100px;
      margin-top: -50px;
      margin-left: -10px;
      color: #ccc;
    }

    p { margin-top: 10px; }
    footer {
      cite {}
      p {margin:0;}
    }
  }
}
