
.review {
  //position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;

  img {
    border-radius: 50%;
    width: 200px;
    margin-right: 40px; // should equal 2 x gutter??
    margin-left: 20px;
  }

  blockquote {
    margin:0;

    p { margin-top: 10px; }
    footer {
      cite {}
      p {margin:0;}
    }
  }
}
