
// sizes are relative to $spacer
// $spacer is defined in variables, and should be 32px or 4 times $unit, which is 8px
$spacers: (
  1q: 0.25,
  quarter: 0.25,
  2q: 0.5,
  half: 0.5,
  3q: 0.75,
  one: 1,
  3h: 1.5,
  doubble: 2,
  2: 2,
  triple: 3,
  3: 3,
  4: 4,
  8: 8
);

.spacer {
  margin-bottom: $spacer;
}

@each $label, $size in $spacers {
  .spacer-#{$label} {
    margin-bottom: $size * $spacer;
  }
}
