
// sizes are relative to $spacer
// $spacer is defined in variables, and should be 32px or 4 times $unit, which is 8px
$spacers: (
  1u: 0.25,
  2u: 0.5,
  3u: 0.75,
  1: 1,
  6u: 1.5,
  2: 2,
  3: 3,
  4: 4,
  8: 8
);

// NOTE: !important was added to override styles with higher specificity (like h1). Probably not ideal.

.--spacing-before { margin-top: var(--spacer) !important; }
.--spacing-after { margin-bottom: var(--spacer) !important; }


@each $label, $size in $spacers {
  .--spacing-before-#{$label} { margin-top: calc(#{$size} * var(--spacer)) !important; }
  .--spacing-after-#{$label} { margin-bottom: calc(#{$size} * var(--spacer)) !important; }
}

.--no-spacing { margin-top: 0; margin-bottom: 0 !important; }
.--no-spacing-before { margin-top: 0 !important; }
.--no-spacing-after { margin-bottom: 0 !important; }
