.status {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 1em;

  &.success {
    background-color: #48d66e;
  }

  &.warning {
    background-color: #ffaf33;
  }

  &.danger {
    background-color: #ff3357;
  }
}
