$footer-bg: #f2f2f2 !default;
$footer-bg-legal: #eee !default;

$cookie-message-bg: rgba(230,230,230,0.9) !default;


$range-track-right: #d2d2d2 !default;
$range-track-left: #787878 !default;
$range-knob-color: #222 !default;

$grid-lines-color: #eee !default;
$grid-box-hover-color: #fafafa !default;


$v-angle-left: 69.1deg;
$v-angle-right: 110.9deg;


// Marens colors (in order)
$pink:    #E71F78;
$purple:  #731D60;
$blue:    #427FC1;
$cyan:    #427FC1;
$teal:    #6DC5CE;
$green:   #69B42D;
$yellow:  #E9E100;
$red:     #CD1047;
$orange:  #E8432C;
// No change yet to $indigo

// TODO: all these colors should given by variables, but we are waiting for correct color codes from Maren
// Gradients base on Marens colors
$default-gradient: #FA4024, #FF0078;
$corporate-gradient: #0066ff, #00d0ff;
$sales-gradient: #fb8409,#ffdb76;
$success-gradient: #F5FF00, #1CFF00;
$danger-gradient: #940A40, #FA4024;

// Text color on the gradients
$default-color: white;
$corporate-color: white;
$sales-color: #322c52;
$success-color: #322c52;
$danger-color: white;


// NOTE: the logic that depend on this should be reworked to only use the variables above.
$theme-gradients: () !default;
$theme-gradients: map-merge((
  "default": $default-gradient $default-color,
  "corporate": $corporate-gradient $corporate-color,
  "sales": $sales-gradient $sales-color,
  "success": $success-gradient $success-color,
  "danger": $danger-gradient $danger-color
), $theme-gradients);
// stylelint-enable
