$footer-bg: #f2f2f2 !default;
$footer-bg-legal: #eee !default;

$cookie-message-bg: rgba(230,230,230,0.9) !default;


$range-track-right: #d2d2d2 !default;
$range-track-left: #787878 !default;
$range-knob-color: #222 !default;

$grid-lines-color: #eee !default
$grid-box-hover-color: #fafafa !default;
