$unit: 8px;

// Given font height is 1
$font-ascender-height: 0.07;
$font-cap-height: 0.7;
$font-descent-height: 0.23;



$footer-bg: #f2f2f2 !default;
$footer-bg-legal: #f9f9f9 !default;

$cookie-message-bg: rgba(230,230,230,0.9) !default;


$range-track-right: #d2d2d2 !default;
$range-track-left: #787878 !default;
$range-knob-color: #222 !default;

$grid-lines-color: #eee !default;
$grid-box-hover-color: #fafafa !default;


$v-angle-left: 69.1deg;
$v-angle-right: 110.9deg;

$corners: 5px;

$sg-bg-color: white !default;
$sg-text-color: #212529 !default;

// Marens colors (in order)
$sg-red:     #F71D52;
$sg-green:   #A2E000;
$sg-blue:    #0066D2;
$sg-cyan:    #00BEE4;
$sg-indigo:  #8F6BE4;
$sg-yellow:  #FFE300;
$sg-orange:  #FF7A00;


$sg-ui-bg-1: #eee;

// TODO: all these individual colors should given by variables, but we are waiting for correct color codes from Maren
// Gradients base on Marens colors
$gradient-primary: #FA4024, #FF0078; // accent colors
$gradient-secondary: #eee, #f2f2f2; // mimics ui colors
// Theme gradients
$gradient-default: $gradient-primary;
$gradient-corporate: #0066ff, #00d0ff;
$gradient-sales: #fb8409,#ffdb76;
// Gradients for functional purposes
$gradient-success: #F5FF00, #1CFF00;
$gradient-danger: #940A40, #FA4024;

// Text color on the gradients
$button-text-color: #322c52;
$button-text-color-secondary: #555;
$button-text-color-dark: white;


// NOTE: the logic that depend on this should be reworked to only use the variables above.
$button-colors: () !default;
$button-colors: map-merge((
  "primary": $gradient-primary $button-text-color-dark,
  "secondary": $gradient-secondary $button-text-color-secondary,
  // theme colors
  "default": $gradient-default $button-text-color-dark,
  "corporate": $gradient-corporate $button-text-color-dark,
  "sales": $gradient-sales $button-text-color,
  // functional colors
  "success": $gradient-success $button-text-color,
  "danger": $gradient-danger $button-text-color-dark
), $button-colors);
// stylelint-enable
