$footer-bg: #f2f2f2 !default;
$footer-bg-legal: #eee !default;

$cookie-message-bg: rgba(230,230,230,0.9) !default;


$range-track-right: #d2d2d2 !default;
$range-track-left: #787878 !default;
$range-knob-color: #222 !default;

$grid-lines-color: #eee !default;
$grid-box-hover-color: #fafafa !default;


$v-angle-left: 69.1deg;
$v-angle-right: 110.9deg;


// Marens colors (in order)
$pink:    #E71F78;
$purple:  #731D60;
$blue:    #427FC1;
$cyan:    #427FC1;
$teal:    #6DC5CE;
$green:   #69B42D;
$yellow:  #E9E100;
$red:     #CD1047;
$orange:  #E8432C;
// No change yet to $indigo

/*
$gradients: () !default;
$gradients: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);
*/

$theme-gradients: () !default;
$theme-gradients: map-merge((
  "default":    ((#FA4024, #FF0078) white),
  "corporate":       ((#008CFF, #00FFF2) white),
  "success":    ((#F5FF00, #1CFF00) #322c52),
  "sales":    ((#fa9124,#faff76) #322c52),
  "danger":     ((#940A40, #FA4024) white)
), $theme-gradients);
// stylelint-enable
