// TODO: Split this file into stuff that may be edited, and stuff that should be off limits.

// new 2020 colors
$fawn: #FFAE5C;
$orange: #FE7333;
$red: #FA4024;
$pink: #F71D52; // primary color
$pink-dark: #AF003C; // primary color
$rose: #F0027B;
$magenta: #E412C5;
$blue: #0B4EEC;
$dark-blue: #0037A4;
$azure: #098DFF;
$cyan: #69DCFF;
$cyan-bright: #A3EFFF;
$light-gray: #D8DCE2;
$gray: #8D94A0;
$dark-gray: #323945;
$teal: #3BD7AB;
$sand: #FFF4DE;
$green: #76D73B;

$text-color: $dark-gray !default;
$backgorund-color: white !default;
$body-bg: $backgorund-color !default;
$link-color: $text-color;
$link-hover-color: $link-color;

:root {
  --unit: 6px;
  --spacer: calc(4 * var(--unit));

  // UI Colors
  --accent-color: #{$pink};
  --text-color: #{$dark-gray};
  --text-color-flipped: white; // Q: Is this used for anything else than incognito links?
  --link-color: var(--accent-color);
  --link-color-hover: #{$pink-dark};
  --link-color-flipped: white;
  --mute-color: #{$light-gray};
  --mute-color-flipped: white;
  --code-text-color: var(--text-color);
  --code-background-color: #{$sand};


  --link-hover-color: currentColor;
  --link-underline-color: #{rgba($dark-gray,0.15)};
  --background-color: white;

  --footer-color: white;
  --footer-background-color: var(--text-color);

  // experimental
  --panel-background-color: $light-gray;
}

@media screen and (min-width: 600px) { // don't change the value
  :root {
    --unit: 8px;
  }
}

@media screen and (min-width: 1921px) {
  :root {
    --unit: 10px;
  }
}


$screen-resolutions: (
  nano: ( width: 320px, height: 240px ),
  3xs: ( width: 480px, height: 320px ),
  2xs: ( width: 640px, height: 480px ),
  xs: ( width: 800px, height: 600px ),
  small: ( width: 1024px, height: 768px ),
  medium: ( width: 1280px, height: 800px ),
  large: ( width: 1440px, height: 900px ),
  xl: ( width: 1680px, height: 1050px ),
  2xl: ( width: 1920px, height: 1080px ),
  3xl: ( width: 2560px, height: 1440px ),

  hd: ( width: 1280px, height: 720px ),
  fhd: ( width: 1920px, height: 1080px ),
  uhd: ( width: 3840px, height: 2160px ),
  2k: ( width: 2048px, height: 1080px ),
  4k: ( width: 4096px, height: 2160px ),
  5k: ( width: 5120px, height: 2880px )
);





// these metrics are specific to each font, and can be found using FontForge (see https://iamvdo.me/en/blog/css-font-metrics-line-height-and-vertical-align)
/* $fonts: (
  gilroy: (
    family: "Gilroy",
    cap-height: 0.7,
    ascender: 0.971,
    descender: 0.277
  )
); */
$fonts: (
  gilroy: (
    family: "Circular",
    cap-height: 0.7,
    ascender: 0.971,
    descender: 0.277
  )
);


$unit: 8px; // legacy
$font-ascender-height: 0.07; // legacy
$font-descent-height: 0.23; // legacy



$sg-text-color: $text-color !default; // legacy
$sg-bg-color: $backgorund-color !default; // legacy

$body-bg: $backgorund-color !default;
$link-color: $text-color;
$link-hover-color: $link-color;

// Marens colors (in order)
$sg-red:     #F71D52;
$sg-green:   #A2E000;
$sg-blue:    #0066D2;
$sg-cyan:    #00BEE4;
$sg-indigo:  #8F6BE4;
$sg-yellow:  #FFE300;
$sg-orange:  #FF7A00;









$footer-bg: #f2f2f2 !default;
$footer-bg-legal: #f9f9f9 !default;

$cookie-message-bg: rgba(230,230,230,0.9) !default;


$range-track-right: #d2d2d2 !default;
$range-track-left: #787878 !default;
$range-knob-color: #222 !default;

$grid-lines-color: #eee !default;
$grid-box-hover-color: #fafafa !default;


$v-angle-left: 69.1deg;
$v-angle-right: 110.9deg;

$corners: 8px;

$sg-bg-color: #F8FAFA !default;
$sg-text-color: #212529 !default;

// Marens colors (in order)
$sg-red:     #F71D52;
$sg-green:   #A2E000;
$sg-blue:    #0066D2;
$sg-cyan:    #00BEE4;
$sg-indigo:  #8F6BE4;
$sg-yellow:  #FFE300;
$sg-orange:  #FF7A00;


$sg-ui-bg-1: #eee;

// TODO: all these individual colors should given by variables, but we are waiting for correct color codes from Maren
// Gradients base on Marens colors
$gradient-primary: #FA4024, #FF0078; // accent colors
$gradient-secondary: #eee, #f2f2f2; // mimics ui colors
// Theme gradients
$gradient-default: $gradient-primary;
$gradient-corporate: #0066ff, #00d0ff;
$gradient-sales: #fb8409,#ffdb76;
// Gradients for functional purposes
$gradient-success: #F5FF00, #1CFF00;
$gradient-danger: #940A40, #FA4024;

// Text color on the gradients
$button-text-color: #322c52;
$button-text-color-secondary: #555;
$button-text-color-dark: white;


// NOTE: the logic that depend on this should be reworked to only use the variables above.
$button-colors: () !default;
$button-colors: map-merge((
  "primary": $gradient-primary $button-text-color-dark,
  "secondary": $gradient-secondary $button-text-color-secondary,
  // theme colors
  "default": $gradient-default $button-text-color-dark,
  "corporate": $gradient-corporate $button-text-color-dark,
  "sales": $gradient-sales $button-text-color,
  // functional colors
  "success": $gradient-success $button-text-color,
  "danger": $gradient-danger $button-text-color-dark
), $button-colors);
// stylelint-enable
